.section-1-btn{
    padding: 18px 45px !important;
    background: #1F365C !important;
    color: white !important;
    font-size: 16px !important;
    border-radius: 14px !important;
   width: 95% !important;
   margin-bottom: 10px !important;
   transition: 0.3s ease !important;

   height: 60px !important;
}
.section-1-btn:hover{
    background-color: #fff !important;
    transition: 0.3s ease !important;
    color: #838A9B !important;

}

.section-1-btn-2{
    padding: 18px 45px !important;
    background: #fff !important;
    color: #838A9B !important;
    font-size: 16px !important;
    border-radius: 14px !important;
   width: 95% !important;
   margin-bottom: 10px !important;
   font-weight: lighter !important;
   height: 60px !important;

}
.section-1-btn-2:hover{
    background: #1F365C !important;
    transition: 0.3s ease !important;
    color: white !important;
}

@media(max-width:899px){
    .section-1-btn{
        width: 98% !important;
    }
    .section-1-btn-2{
        width: 98% !important;
    }
}

@media(max-width:599px){
    .section-1-btn{
        width: 100% !important;
    }
    .section-1-btn-2{
        width: 100% !important;
    }
}