.home-section-2-slider-main{
    width: 100% !important;
    height: 380px !important;
    padding: 5px !important;
}

.home-section-2-slider-main-card{
    width: 100% !important;
    height: 360px !important;
    padding: 5px !important;
}

.home-section-2-cards:hover{
  border: 1px solid #0559FD !important;
  transition: 0.3s ease !important;
}



.section2-slider-card{
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #1F365C 100%), url(../../assets/slider-image.png) !important;
    width: auto !important;
    height: 100% !important;
    background-size: cover !important;
border-radius: 30px !important;
align-items: flex-end !important;
display: flex !important;
/* background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #1F365C 100%) !important; */
}

.home-section-2-slider-text{
    font-weight: bold !important;
    font-size: 28px !important;
    line-height: 44px !important;
    left: 70px !important;
    bottom: 50px !important;
    color: white !important;
    padding-bottom: 20px !important;
    text-align: center !important;
}

.home-section-2-cards{
    display: flex !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    padding: 12px 20px !important;
    background: white !important;
    border-radius: 25px !important;
    margin-bottom: 15px !important;
    transition: 0.3s ease !important;
}

.home-section-2-card-img{
    padding: 5px 15px !important;
}

.home-section-2-card-text{
    width: 60% !important;
    font-weight: bold !important;
    font-size: 15px !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    color: #313237 !important;
}

.home-section-2-card-info{

    width: 6px !important;
    height: 6px !important;
    border-radius: 50% !important;
    background: #44F696 !important;

}

.home-section-2-card-text-2{
    
    font-size: 12px !important;
    line-height: 17px !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    color: #BCC0CB !important;
    width: 20% !important;
padding-left: 5px !important;
}

.home-section-2-card-btn{
    display: inline-block !important;
    width: 100% !important;
    background: #0559FD !important;
    border-radius: 25px !important;
    padding: 20px 0px !important;
    text-align: center !important;
    font-size: 18px !important;
    color: #FFFFFF !important;
}

.home-section-2-card-btn:hover{
    background-color: #fff !important;
    color: #0559FD !important;
    border: 2px solid #0559FD !important;

}

.home-section-2-card-img-main{
   width: auto  !important;
}

/* ...........................media......................... */

@media(max-width:1237px){
    .home-section-2-card-text{
        width: 100% !important;
        font-size: 13px !important;
    }
    
   

    .home-section-2-cards{
        /* display: grid !important; */
        justify-content: center !important;
        align-items: center !important;
        text-align: center !important;
    }

    .home-section-2-card-img-main{
        width: 100%  !important;
     }
     
  
}