.home-section-4-main-card{
    background-color: #fff !important;
    width: 410px !important;
    height: auto !important;
    border-radius: 25px !important;
    padding: 16px !important; 
    /* display: grid !important; */
    margin-bottom: 40px !important;
    margin-top: 10px !important;
    transition: 0.3s !important;

}

.home-section-4-main-card:hover{
    border: 1px solid blue !important;
    transition: 0.3s !important;
}

/* @media(max-width:1300px){
    .home-section-4-main-card{
        transform: scale(0.9) !important;
    }
} */


.home-section-4-blog-img{
    width: 100% !important;
    height: auto !important;
    border-radius: 25px !important;
}

/* .home-section-4-card-text{
    padding-left: 25px !important;
    padding-right: 5px !important;
} */

.home-section-4-text-1{
    font-weight: bold !important;
    font-size: 24px !important;
    color: #313237 !important;
    margin-bottom: 10px !important;
    line-height: 33px !important;
}

.home-section-4-text-2{
    font-size: 13px !important;
    line-height: 20px !important;
    color: #718797 !important;
    margin-bottom: 10px !important;
}

.home-section-4-text-3{
font-size: 14px !important;
color:#7F93A0 !important ;
}

.home-section-4-last-section{
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}

.home-section-4-last-section-text-1{
        font-size: 18px !important;
    color: #313237 !important;
    font-weight: 500  !important ;
    padding-left: 5px !important;
}

.home-section-4-last-section-text-2{

    font-size: 14px !important;
    color: #718797  !important;

}

.border-bottom-main{
    justify-content: center !important;
    display: flex !important;
}

.border-bottom{
    border-bottom: 7px solid #0559FD !important;
    width: 80% !important;
    margin-bottom: 10px !important;
}