.home-section-3-main-card{
    background-color: #fff !important;
   
    height: auto !important;
    border-radius: 25px !important;
    padding: 16px !important; 
    display: flex !important;
    margin-bottom: 40px !important;
}

.home-section-3-blog-img{
    width: auto !important;
    height: 100% !important;
    border-radius: 25px !important;
}

.home-section-3-card-text{
    padding-left: 25px !important;
    padding-right: 5px !important;
}

.home-section-3-text-1{
    font-weight: bold !important;
    font-size: 24px !important;
    color: #313237 !important;
    margin-bottom: 10px !important;
    line-height: 33px !important;
}

.home-section-3-text-2{
    font-size: 13px !important;
    line-height: 20px !important;
    color: #718797 !important;
    margin-bottom: 10px !important;
}

.home-section-3-text-3{
font-size: 14px !important;
color:#7F93A0 !important ;
}

.home-section-3-last-section{
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}

.home-section-3-last-section-text-1{
        font-size: 18px !important;
    color: #313237 !important;
    font-weight: 500  !important ;
    padding-left: 5px !important;
}

.home-section-3-last-section-text-2{

    font-size: 14px !important;
    color: #718797  !important;

}

/* .home-section-3-main-div{
    display: flex !important;
} */

.home-section-3-card-2-div{
    padding: 28px 24px !important;
    background: #FFFFFF !important;
    border-radius: 25px !important;
    /* margin-bottom: 40px !important; */
    height: auto  !important;
}

.home-section-3-serach{
    background: #F2F5F8 !important;
    border-radius: 12px !important;
    border: none !important;
}

.home-section-3-search-text{
    color: #C4C4C4 !important;
    font-size: 15px !important;
    text-align: center !important;
    padding-top: 10px !important;
}

/* .................................media.............................. */


   


.home-section-3-main-div{
background-color: #fff !important;
width: 100% !important;
max-height: 340px !important;
padding: 16px !important;
border-radius: 25px !important;
margin-bottom: 10px !important;
display: flex !important;
transition: 0.3s !important;
align-items: center !important;
}


.home-section-3-main-div:hover{
    border: 1px solid blue !important;
    transition: 0.3s !important;
}

.blog-image-section-3{
    width:100% !important;
    height: 100% !important;
    border-radius: 25px !important;
}

.section-3-card-text-1{
    font-weight: bold !important;
    font-size: 24px !important;
    color: #313237 !important;
    margin-bottom: 10px !important;
}

.section-3-card-text-2{
    font-size: 13px !important;
    line-height: 20px !important;
    color: #718797 !important;
    margin-bottom: 10px !important;
}

.section-3-card-text-3{
    font-size: 13px !important;
    line-height: 20px !important;
    color: #718797 !important;
    margin-bottom: 10px !important;
}

.pagination{
    justify-content: center !important;
    display: flex !important;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}



@media(max-width:1300px){
    /* .home-sec-4-com{
        transform: scale(0.9) !important;
    } */

    .home-sec-4-com{
        justify-content: center !important;
        display: flex !important;
    }
}

@media(max-width:507px){
    .home-section-3-main-div{
        max-height: 400px !important;
    }
}

@media(max-width:452px){
    .home-section-3-main-div{
        margin-top: 50px !important;
    }
}

@media(max-width:446px){
    .home-section-3-main-div{
        max-height: 430px !important;
    }
}
@media(max-width:402px){
    .home-section-3-main-div{
        max-height: 500px !important;
    }
}

@media(max-width:382px){
    .home-section-3-main-div{
        max-height: 580px !important;
    }
}

@media(max-width:342px){
    .home-section-3-main-div{
        max-height: 600px !important;
    }
}

@media(max-width:388px){
    .home-section-3-main-div{
        margin-top: 110px !important;
    }
}

@media(max-width:371px){
    .home-section-3-main-div{
        margin-top: 170px !important;
    }
}